body {
    background: linear-gradient(to bottom, #F4FCD9, #534340);
    height: 1000%;
    width: 100%;
    font-family: 'tulisan2';
	font-size: 15px;
    font-weight: bold;
	font-variant: inherit;
    color: rgb(0, 0, 0); 
  }

  @font-face {
    font-family: tulisan2;
    src: url(font4.otf);
  }

  @font-face {
    font-family: tulisan1;
    src: url(font2.otf);
}

h1 {
    text-align: center;
    color : #4b2b14;
    font-family: 'tulisan1';
	  font-size: vw;
	  font-variant: inherit;
  }


.button {
    margin-top: 50px;
    margin-left: 80%;
    margin-right: 10px;
  }
