body {
    background: linear-gradient(to bottom, #FEFBE7, #A0BCC2);
    height: 650px;
    width: 100%;
    font-family: 'tulisan2';
	font-size: 15px;
    font-weight: bold;
	font-variant: inherit;
    color: rgb(0, 0, 0);
    
  }

.tab { 
    display:inline-block; 
    margin-left: 170px; 
}

@font-face {
    font-family: tulisan1;
    src: url(font1.ttf);
}
@font-face {
    font-family: tulisan2;
    src: url(font4.otf);
  }
  
  h1 {
    padding-left: 2%;
    text-align: center;
    color : #d1b878;
    font-family: 'tulisan1';
	font-size: 5vw;
	font-variant: inherit;
  }
  
  h2{
    padding-left: 2%;
    text-align: center;
    color : #31210e;
	font-size: 25pt;
  }
  
  ul {
    padding-left: 10%;
    list-style-type: none;
    text-decoration: none;
    margin-top: 60px;
	font-size: 33pt;
  }
  
  a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 27px;
  }
  
  a:hover {
    color: #d1b878;
  }
